body {
	background: #FFFFFF;
	color: #000000;
	font-family: Verdana, Tahoma;
	font-size: 12px;
}

h3 {
	color: #000000;
	font-family: Verdana, Tahoma;
	font-size: 18px;
}

table {
	color: #000000;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	border: 1px solid #000066;
}

td {
	color: #000000;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	border: 1px solid #000066;
}

a:link, a:visited, a:active {
	color: #000066;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	text-decoration: none;
}

a:hover {
	color: #000066;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	text-decoration: underline overline;
}

input, button, textarea, select, option {
	background: #FFFFFF;
	color: #000000;
	font-family: Verdana, Tahoma;
	font-size: 12px;
	text-decoration: none;
	border: 1px solid #000066;
}