body{
   font-family: 'Heebo-Regular' , sans-serif;
   letter-spacing: 1px;
   font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Heebo', sans-serif;
}
.body-content{
    padding: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
